:root{
    --AzulEscuroDaMontanha: #2A366C;
    --CinzaAzuladoDoFundo: #5B667F;
    --CinzaClaroDasNuvens: #8C9CB6;
    --PretoDaSilhuetaDaPessoa: #303846;
    --BrancoDasNuvens: #F5F5F5;
}
*{
    margin: 0;
    padding: 0;
}
/* Reset de margens e preenchimentos */
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: black;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background: linear-gradient(to right, #010011, #020017);
}

header .left-links, header .right-links {
    display: flex;
    gap: 15px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
}

header a:hover {
    transition: .5;
    color: #777;
    border-radius: 8px;
}
.yellow{
    background-color: #F7FF19;
    color: black;
    border-radius: 5px;
    font-weight: 500;
}

.logo-container {
    margin-right: 20px; /* Espaçamento entre logo e o menu de navegação */
}

.logo {
    height: 40px; /* Ajuste o tamanho da logo conforme necessário */
}
h2,p,li{
    color: white;
}
.cadastro{
    background-color: #333;
    margin-right: 10px;
    border-radius: 8px;
    font-weight: 500;
}

/* Seção de Apresentação com Imagem de Fundo */
#apresentacao {
    position: relative;
    height: 50vh;
    background-image: url('../img/cellphone.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100vh;
}
main{
    background-color: white;
    height: 100vh;
    background: linear-gradient(to right, #010011, #07006f);
}

main h1 {
    position: relative;
    top: 38vh; /* Move o h1 para baixo em 50% da altura da viewport */
    margin-left: 30vh;
    color: white;
    font-size: 1.2em; /* Ajuste conforme necessário */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.box{
    position: relative;
    top: 40vh;
    margin-left: 20vh;
    text-align: center;
    align-items: center;
    height: 6vh;
    width: 60vh;
    background-color: #F7FF19;
    border-radius: 10px;
}
#Download{
    color: black;
    font-size: 1.9rem;
    text-decoration: none;
    font-weight: bold;
}

#apresentacao h1 {
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

section {
    padding: 50px 20px;
    margin: 20px;
    border-radius: 8px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
img.img-jogo {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

#cta {
    text-align: center;
}

.btn {
    padding: 15px 25px;
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
