:root{
    --AzulEscuroDaMontanha: #2A366C;
    --CinzaAzuladoDoFundo: #5B667F;
    --CinzaClaroDasNuvens: #8C9CB6;
    --PretoDaSilhuetaDaPessoa: #303846;
    --BrancoDasNuvens: #F5F5F5;
}

/* Reset de margens e preenchimentos */
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background: linear-gradient(to right, #010011, #07006f);
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 13px 20px;
}

header .left-links, header .right-links {
    display: flex;
    gap: 15px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
}

header a:hover {
    background-color: #555;
    border-radius: 5px;
}

.logo-container {
    margin-right: 20px; /* Espaçamento entre logo e o menu de navegação */
}

.logo {
    height: 40px; /* Ajuste o tamanho da logo conforme necessário */
}
h2,p,li{
    color: white;
}
/* Menu de navegação */
header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Alinhando o ul de cadastro à direita */
header nav .cadastro {
    margin-left: auto; /* Faz o ul de cadastro ir para a direita */
}

/* Seção de Apresentação com Imagem de Fundo */
#apresentacao {
    position: relative;
    height: 100vh;
    background-image: url('../img/background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#apresentacao h1 {
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

section {
    padding: 50px 20px;
    margin: 20px;
    border-radius: 8px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {}

img.img-jogo {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

#cta {
    text-align: center;
}

.btn {
    padding: 15px 25px;
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
