body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #010011, #07006f);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

h1 {
    color: #F7FF19;
    font-size: 24px;
    margin-bottom: 20px;
}

.ranking {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    background: linear-gradient(to right, #010011, #07006f);
}

.ranking table {
    width: 100%;
    border-collapse: collapse;
}

.ranking th, .ranking td {
    padding: 12px;
    text-align: center;
    border: 1px solid black;
}

.ranking th {
    background-color: #F7FF19;
    color: black;
}

.ranking tr:nth-child(even) {
    background-color: #F7FF19;
}

.ranking tr {
    background-color: #d8df16;
}

.message {
    font-size: 18px;
    margin-top: 20px;
}

.error {
    color: red;
    font-weight: bold;
}

.success {
    color: green;
    font-weight: bold;
}

button {
    padding: 12px;
    background-color: #F7FF19;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #dbe218;
}

/* Para garantir que o botão fique no topo */
.top-button {
    background: linear-gradient(to right, #010011, #020017);
    position: fixed;
    top: -20px;
    z-index: 10;
}